    <header class="header">
    <h1 class="navbar__title">
        Jeferson Duque
        <span class="navbar__subtitle">Desarrollador Web</span>
    </h1>

        <nav class="navbar">
            <ul class="navbar_list">
                <li class="navbar__item"><a href="index.html" class="navbar__link">Inicio</a></li>
                <li class="navbar__item"><a href="clients.html" class="navbar__link">Clientes</a></li>
                <li class="navbar__item"><a href="about.html" class="navbar__link">Sobre mi</a></li>
                <li class="navbar__item"><a href="contact.html" class="navbar__link">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>